[2013-09-20 23:01] dpsolomon opened #1 "moveit plugin freezes when invalid IK solution returned"
The exception thrown by the IK solver cause moveit to freeze or crash.

(see https://github.com/ros-industrial/industrial_moveit/blob/master/constrained_ik/src/constrained_ik_plugin.cpp#L136)

[2013-10-09 01:02] shaun-edwards opened #8 "Industrial moveit meta-package doesn't exist"
The industrial_moveit meta-package should be created.  The meta-package should contain dependencies on all of the packages in the github repo.

[2013-10-10 16:13] #1 closed, assigned to dpsolomon

[2013-10-10 16:14] dpsolomon commented on #8
@shaun-edwards The meta package is included. Is this issue complete?

[2013-10-10 16:17] dpsolomon opened #11 "Add tool_position constraint"
The constraint should drive position error in the tool frame. It should inherit from goal_position, which drives position error in the base frame (see goal_tool_orientation for reference).

[2013-10-10 16:18] shaun-edwards commented on #8
Yep...sorry for the delay.

[2013-10-10 16:18] #8 closed, assigned to nobody

[2013-10-13 23:23] shaun-edwards opened #13 "wiki needs at least one valid email"
The wiki content (generated from package xml) does not currently have a valid email address (i.e. click-able).  It should have at least one.  This can be mine as maintainer if nobody else wants their email address.

[2013-10-17 15:53] #11 closed, assigned to dpsolomon

[2013-10-17 15:58] #13 closed, assigned to nobody

[2015-08-26 15:58] daichengkai opened #19 "libconstrained_ik_plugin.so: undefined symbol"
I followed the tutorial to add constrained_ik to my moveit_config and it works fine with the demo.launch. But when I want to use the ik_solver to my own package(like calling setFromIK function), error occurs and it said that

/home/xxx/Imitation/devel/lib/IKPlan/load_model: symbol lookup error: /home/xxx/Imitation/devel/lib//libconstrained_ik_plugin.so: undefined symbol: _ZN2tf12poseMsgToKDLERKN13

[2015-08-26 19:20] Levi-Armstrong commented on #19
@DAIChengkai, Have you created your own constrained_ik moveit plugin or are you using constrained_ik/ConstrainedIKPlugin?

[2015-08-26 19:48] Levi-Armstrong commented on #19
@DAIChengkai, It appears to not find tf::poseMsgToKDL and I noticed that tf_conversions is not included in the find_package function in the Industrial_moveit/constrained_ik/CMakelist.txt. Try adding it and see if it resolves the issue.

find_package(catkin REQUIRED COMPONENTS kdl_parser roscpp urdf eigen_conversions moveit_ros_planning moveit_core dynamic_reconfigure **tf_conversions**)

[2015-08-26 21:58] Levi-Armstrong commented on #19
@DAIChengkai, I was able to determine that the libconstrained_ik_plugin.so does have undefined symbols using

At the end of the output I found:

After adding the **tf_conversions** as described in my previous comment and recompiling the code. I then ran the _$ ldd -d -r libconstrained_ik_plugin.so_ and it was no longer undefined. Based on the findings I would expect that this should resolve your i

[2015-08-27 12:34] daichengkai commented on #19
@Levi-Armstrong problem solved! all works fine after adding the tf_conversions. Thanks a lot!

[2015-08-28 06:20] Levi-Armstrong commented on #19
Glade to see it solved the issue.

[2015-11-13 08:36] rcj86 opened #22 "STOMP ur_driver velocities"
I'm testing the STOMP planner with an UR5 real robot. I replaced OMPL by STOMP and works fine in simulation mode, but when I try to move the real robot, it doesn't move because only send positions, not velocities and accelerations.

[2015-11-13 16:23] jrgnicho commented on #22
@rcj86 thanks for your feedback.  How did you verify that only positions are populated? Did you by any chance run the command below to see what is in the trajectory?

[code]

[2015-11-18 16:00] rcj86 commented on #22
Sorry for my late reply. I looked in the topic /follow_joint_trajectory/goal and only positions are send, velocities and accelerations are empty. But if I change to OMPL, the robot execute the trajectory and sends velocities and accelerations.

OMPL:
![ompl](https://cloud.githubusercontent.com/assets/7824289/11238103/b11c0638-8de3-11e5-970a-5d62e416821f.png)

STOMP:
![stomp](https://cloud.githubus

[2015-11-18 22:47] jrgnicho commented on #22
@rcj86
Make sure that the stomp_planning_pipeline.launch file in your package contains the **AddTimeParametrization** planning adapter as shown below:

[code]

I verified that by adding this, the message in *\* /follow_joint_trajectory/goal*\* topic gets it's accelerations and velocities populated.
This adapter isn't listed in the stomp_test moveit package but I'll work on adding it there.
@shaun-

[2015-11-19 12:23] rcj86 commented on #22
I added the AddTimeParametrization in the stomp_planning_pipeline.launch, and now I'm able to control the robot.

Thanks!!

[2015-11-19 12:23] #22 closed, assigned to nobody

[2016-01-07 15:50] jrgnicho opened #25 "Documentation and Cleanup"
Documentation is missing, at the very least the steps to run any existing demos should be documented along with instructions for how to load STOMP and CLIK into moveit.  Furthermore, launch, unit tests and executables files in STOMP that are no longer part of the build should be removed as they make it confusing when one inspects the ros packages.

[2016-01-11 23:41] shaun-edwards commented on #19
@Levi-Armstrong, can this be closed?

[2016-01-12 03:44] Levi-Armstrong commented on #19
@shaun-edwards, yep

[2016-01-12 03:44] #19 closed, assigned to nobody

[2016-03-30 16:45] jrgnicho opened #27 "Travis Configuration"
A Travis-CI configuration file needs to be added.

[2016-10-25 12:36] beatrizleon opened #29 "Stomp: Planning to a goal state equal to the start state generates an unnecessary movement"
I am testing Stomp and I noticed that when I ask it to plan a movement to a goal state equal/similar to the start state it generates an unnecessary movement instead of remaining there. Here is a video of what I mean:

https://www.opentest.co/share/341626809aaf11e6b14b47baa7c14fe2

@jrgnicho Is there something in the config that I could modify to avoid that? or is this normal for stomp?

[2016-10-25 15:19] jrgnicho commented on #29
Thanks for pointing this out @beatrizleon , it's difficult to tell what's happening just from the video alone, do you have a repo that reproduces this issue that I can tests?

[2016-10-25 15:27] beatrizleon commented on #29
I haven't make any changes to moveit. I just test to set in rviz the start and goal state as current and try to plan it. Then I always get the unnecessary movement. I tested this using ompl and it doesn't happen. I guess it can be reproduced with any robot.

[2016-10-25 21:09] jrgnicho commented on #29
@beatrizleon my first guess is that you might need to tweak the [`stddev`](https://github.com/ros-industrial/industrial_moveit/blob/indigo-devel/stomp_test_kr210_moveit_config/config/stomp_config.yaml#L16) parameters.  The larger the values the greater the motion that that joint will make in order to explore the workspace.  You may have values that are too large

[2017-03-21 16:23] jrgnicho opened #31 "Stomp Core MinimumControlCost initialization method"
The unit test in stomp core is currently failing when the trajectory is initialized with the [MININUM_CONTROL_COST](https://github.com/ros-industrial/industrial_moveit/blob/indigo-devel/stomp_core/include/stomp_core/utils.h#L76) initialization method.

[2017-04-06 06:12] UltronDestroyer opened #37 "No matter what start joint pose is used, the planner refuses to start."
Result is this error no matter what starting joint pose:

[ERROR] [/move_group] [1491459052.767709473, 39.284000000]: STOMP Start joint pose is out of bounds
[ERROR] [/move_group] [1491459052.767820584, 39.284000000]: STOMP failed to get the start and goal positions

I've tried EVERY joint pose and even set everything to be "continuous" which SHOULD return "true" for all satisfiesBounds() checks.

[2017-04-06 14:51] jrgnicho commented on #37
Can you provide more info on your robot setup?  Continuous joints may not be supported by moveit, the stomp planner checks for the validity of the planning request's start state by calling underlying [MoveIt! functions](https://github.com/ros-industrial/industrial_moveit/blob/indigo-devel/stomp_moveit/src/stomp_planner.cpp#L588).

[2017-04-06 15:00] UltronDestroyer commented on #37
Right. Understood.

What robot state does it load? I have a robot model that's loading in gazebo and publishes some state using the joint state publisher controller. It is using ROS control as well. The URDF *was* on revolute and specified upper and lower limits, yet no matter what plan was used/orientation used, (since it's almost impossible to specify start state in gazebo without modifying urdf

[2017-04-06 15:03] jrgnicho commented on #37
I'd look at the URDF joint limits to make sure they're defined correctly.  Also, how are you create the motion plan request that gets sent to the planner?

[2017-04-06 15:08] UltronDestroyer commented on #37
The motion plan request is created using the RViz Motion planning plugin.

Do you see anything wrong with these urdf joint limits? (I'm guessing the rpy in the joint definition defines how it is positoined to start too?)

`<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v2mini">

<xacro:property name="pi" value="3.14159" />

<xacro:property name="base_offsetx" value=

[2017-04-06 15:15] jrgnicho commented on #37
A quick glance shows nothing wrong with the limits.  I'd run the display xacro launch file and with the gui enable to make sure that it is a valid xacro definition.
[code]

[2017-04-06 19:57] UltronDestroyer commented on #37
It works and they all look legit. Would having no collision elements defined affect anything?

[2017-04-06 20:00] jrgnicho commented on #37
The lack of collision elements should not affect the joint check.  I'm not sure how your setup combines gazebo and the rviz motion planning plugin, could you describe that in more detail?

[2017-04-06 20:03] UltronDestroyer commented on #37
What files exactly are you looking for? I have a moveit configuration package that configures the stomp stuff. There are controllers spawned in gazebo via ros control for it, and a joint state publisher controller which publishes the joint states of the robot.

[2017-04-06 20:10] jrgnicho commented on #37
I'm not looking for any files in particular , I'm just trying to determine if the start state is being properly initialized but it sounds like that isn't the issue here.

[2017-04-06 20:11] UltronDestroyer commented on #37
So:

RViz motion planning plugin request -> MoveIT! (which is configured w/ the stomp setup) -> reads joint state -> returns fail. (No execution happens as it stops at failed plan). Joint states would be derived from the gazebo's joint state publisher controller defined here:

joint_state_publisher:
    type: joint_state_controller/JointStateController
    publish_rate: 70

[2017-04-06 20:11] UltronDestroyer commented on #37
What I think im going to try is editing those "checks"(if else statement) out of the stomp_moveit.cpp plugin and see if it works just fine.

[2017-04-06 20:26] jrgnicho commented on #37
The Rviz motion planning plugin doesn't automatically sync it's start state to the current state of the robot before sending a plan request to MoveIt!.  You can view the start state in rviz by enabling it's visibility flag under the options in **MotionPlanning**

[2017-04-06 21:42] UltronDestroyer commented on #37
I will try this out and see if that fixes things!

[2017-04-07 23:26] jrgnicho commented on #37
@TheDash let me know if you made any progress here, thanks

[2017-04-21 12:00] broesdecat commented on #37
Hi,

I just ran into the same issue, and might be able to provide some comparison code. I have been testing my configuration with a variety of APIs and it typically works fine, so I am quite sure the basic input is correct and the issue is in my rosnode code or a bug.

The following code exhibits the issue (but not always):
[code]

The following code never exhibits the issue:
[code]

Best,
Broes

[2017-04-21 15:58] UltronDestroyer commented on #37
Thank you @broesdecat. I'll have to look into this another time. @jrgnicho I haven't had time to continue this project to provide feedback - but the jist is that I had the same error when i left off and was unable to solve it.

[2017-04-26 15:51] jrgnicho commented on #37
@TheDash I'd be good if you could print the joint values of the start and goal states.  Also, in theory the check bounds function on **continuous** joints should validate but it doesn't look like moveit takes that into account, see [here](http://docs.ros.org/jade/api/moveit_core/html/revolute__joint__model_8cpp_source.html#l00166)

[2017-04-26 15:53] jrgnicho commented on #37
@broesdecat is this a STOMP issue or a moveit issue?  Base on your comments I can't tell which one it is.

[2017-04-27 07:43] broesdecat commented on #37
@jrgnicho With OMPL it works fine, so my first guess would be STOMP. In attachment the code of my rosnode which gives issues with STOMP.

[trajectory_node.txt](https://github.com/ros-industrial/industrial_moveit/files/960838/trajectory_node.txt)

[2017-04-27 16:13] jrgnicho commented on #37
@broesdecat could you point me to a repo that I could test this on?

[2017-04-30 01:33] jrgnicho commented on #37
@broesdecat and @TheDash after further inspection using @broesdecat example code I pinned it down to the [MoveGroupInterface::group.setStartStateToCurrentState()](http://docs.ros.org/kinetic/api/moveit_ros_planning_interface/html/move__group__interface_8cpp_source.html#l00421) method, it in fact doesn't do anything other than to reset a smart pointer to null.  I then modified Stomp to print the re

[2017-05-03 18:14] bbrito opened #40 "STOMP Plans for my robot joint wheels"
I when I start stomp and do not move my robot stomp is able to fine nice plans. However if I move the robot it gives the following error:

[ERROR] [1493821272.310179796]: STOMP Start joint pose is out of bounds
[ERROR] [1493821272.310235237]: STOMP failed to get the start and goal positions

I search inside stomp_planner.cpp and this happens because it includes my joint wheel states in the plannin

[2017-05-03 18:18] bbrito commented on #37
I got the same problem error but because in the starting state stomp also considers my joint from the wheels. How can I fix this?

I also set the joints as passive and it didn't work. Maybe the issue that I opened should be moved here.

[2017-05-08 20:21] jrgnicho commented on #40
Could you provide more details on how you are calling STOMP and which release you are using?

[2017-05-08 20:24] jrgnicho commented on #37
@ipa-bfb are you setting the robot state start state as described above?

[2017-05-09 07:23] broesdecat commented on #37
@jrgnicho Confirmed, setting the startstate with the alternative API call solves the issue.

[2017-05-09 07:27] broesdecat opened #41 "[Feature request] plan to position without orientation constraints"
Hi,

As far as I understand it, industrial_moveit can currently only be used if you have a jointstate goal.
However, this prevents the planner from exploiting any additional freedom in the robot movement, e.g. if only the target position is fixed.
Is there already a way to get this working, or would the code need to be adapted to take also cartesian goals (which is probably significant effort)?

T

[2017-05-09 14:36] jrgnicho commented on #37
@broesdecat Excellent.  This probably merits an issue in the moveit repo to address this problem with the MoveGroupInterface.

[2017-05-09 14:52] jrgnicho commented on #41
@broesdecat indeed, planning for joint goals is very limiting and  planning to cartesian goals is something we've been wanting to incorporate into STOMP.  In my opinion this feature would sample the cartesian goal (in a similar fashion to OMPL) and spawn multiple stomp planning instances until one succeeds.  At the moment no one is working on this feature but if you have any ideas feel free to cre

[2017-05-09 15:26] UltronDestroyer commented on #37
Interesting. That method may also be why if I relaunch things and try to plan, it never works. Because it loses its state and cannot re-find itself.

[2017-07-07 23:18] Jmeyer1292 opened #43 "Joint Limits Checking"
I noticed a difference in behavior between OMPL and STOMP and thought you all might find it interesting:

I was getting the ```Start joint pose is out of bounds``` error that some other issues allude to. Using OMPL with the same planning requests produced no issues.

For me, I was using the `industrial_calibration` library which includes a set of 6 "calibrate-able joints" for both the target and t

[2017-07-07 23:27] jrgnicho commented on #43
There's a PR #42  addressing this issue for the indigo branch

[2017-07-12 16:28] fmessmer opened #44 "Kinetic release?"
Any plans to release this repo for Kinetic any time soon?
This is currently blocking an urgent release of our cob-repositories, in particular the release of `cob_moveit_bringup` and thus `cob_manipulation` because we are depending on `stomp_moveit` and `industrial_collision_detection` (see https://github.com/ipa320/cob_manipulation/blob/kinetic_dev/cob_moveit_bringup/package.xml#L17-L26).

@ipa-bf

[2017-07-12 18:19] Levi-Armstrong commented on #44
@jrgnicho, What is the current status of the kinetic release?

[2017-07-12 18:54] fmessmer commented on #44
it's never been released yet...I don't know about the functional status of the repo....it's the missing rosdep key that is blocking us...:wink:

[2017-07-13 00:00] jrgnicho commented on #44
I'm working on getting some [new features](https://github.com/jrgnicho/industrial_moveit/tree/update-stomp-plugins-ik-code) in there before releasing it.  I'll wrap that up and work on the release over the weekend.

[2017-07-13 05:30] fmessmer commented on #44
awesome, thanks!

[2017-07-16 17:19] gavanderhoorn opened #45 "constrained_ik: MoveIt planner plugin ignores passed in 'NodeHandle'"
I'm trying to load multiple MoveIt planning plugins into a single process and one of the approaches I'm investigating is exploiting namespacing using `ros::NodeHandle` instances.

The OMPL plugin (`moveit_planners_ompl`) nicely uses the `NodeHandle` passed in in the `PlanningManager::initialize(..)` call ([here](https://github.com/ros-planning/moveit/blob/4bc43c56ca2a5293f3ef8d55796ec586cfde5f69/m

[2017-07-17 12:32] Levi-Armstrong commented on #45
@gavanderhoorn, It should be OK to setup like the example you showed.

[2017-08-24 08:04] mat-l opened #51 "Set TCP speed"
Dear all,
Dear @gavanderhoorn

we are working with ROS indigo right now using a Universal Robot UR10. I am wondering if there is the possibility to set a limit of the TCP speed. There are lot of applications where one needs to set a defined TCP speed, like 100 mm/s or other values.

Anyway, I just found the two scaling factors which are most like only regarding the joint speed:
[code]
These scalin

[2017-08-31 18:03] Levi-Armstrong opened #53 "STOMP failes to plan with using the the move_group move() method."
It looks like the moveit move_group move method does not populate the robot start state in the planning request. Therefore STOMP check if it is populated and if not it exits and prints a warning where OMPL will plan fine. Not sure if this is really a STOMP issue or a moveit issue. Maybe if the start state is not provided it should get the current state of the robot?

[2017-09-07 17:27] jrgnicho commented on #51
@mat-l  this inquiry seems to be outside the scope of this repository.  Those scaling factors are applied in the robot's joint space and as such there are unit-less. In STOMP, these scale factors are applied on the planned joint path in order to compute the time stamps, joint speeds and accelerations associated with each joint position in the path.  However, it does not directly control the speed

[2017-09-07 20:39] Levi-Armstrong commented on #51
You could write your own moveit adapter that which updates each point in the trajectories time to achieve a constant tool velocity, though it may not be achievable. You most likely want to do this at the planner level to ensure that this is achieved. For the Cartesian planner in this package you can write a primary cost function to achieve this.

[2017-09-14 10:30] mat-l commented on #51
Do you know if someone else is working on this issue, cause moving a robot with a defined speed along a linear path is normally a basic feature of robot controllers. I am really wondering why this is not already existing in ROS :(

[2017-09-27 02:45] davetcoleman opened #56 "Constrained IK (CLIK) for dual arms"
What do you suppose it would take to adapt the constraint_ik to dual arm capabilities, with overlapping toros joints? I have past experience with this kind of project but am not sure if there are any mathematical limitations to the way constraints are currently being applied to the null space. I understand that this solver originally did support dual arms but it no longer does? @drchrislewis

[2017-09-27 10:21] drchrislewis commented on #56
@davetcoleman The original CLIK code simply constructed a dual arm jacobian using the DH parameters from both arms that related the joint motions to the velocities of the second tool point in the first robot's tool frame. This Jacobian is straight forward to build by walking the DH parameters in reverse down from the first robots tool to its base then up to the first robot's tool in forward order.

[2017-09-27 10:58] Levi-Armstrong commented on #56
To accomplish the above comment you will need to implement your own constraint. I am on travel but I can provide links and additional information this evening.

[2017-09-27 14:28] davetcoleman commented on #56
Thanks @Levi-Armstrong

[2017-10-02 10:01] tykurtz opened #57 "STOMP fails to find valid solution after seeding with a valid trajectory"
## Description
When seeding STOMP with a valid trajectory (from RRT), STOMP fails to find a solution by reaching the max number of iterations.

![image](https://user-images.githubusercontent.com/16064239/31071476-14715ba2-a732-11e7-8f1c-a81b864c0a8c.png)

## Background
My use-case is path planning in a highly constrained collision environment relative to other users. Below is the configuration in

[2017-10-02 14:51] Levi-Armstrong commented on #56
@davetcoleman
I have been looking through the code and I believe it should work as @drchrislewis described assuming KDL supports the scenario where the base of the chain is not a fixed frame. If it does not I know another way to achieve what you want but it may require some code changes to handle multiple chains to solve them simultaneously. If you don't want to make changes to the code everything

[2017-10-02 15:43] jrgnicho commented on #57
Excellent, thanks for reporting this.
The rationale for smoothing the seed trajectory is that we wanted to start the optimization with a smooth trajectory, otherwise the end result would not be a smooth trajectory.  This is because our old filter algorithm only smoothed out the updates to the trajectory instead of the trajectory itself. Eventually the polynomial filter was added, which smooths the

[2017-10-10 18:57] mlautman commented on #25
+1

[2017-10-10 20:13] mlautman opened #60 "Getting started with constraint_ik"
I'm working on a project using ros kinetics that would benefit greatly from a planner capable of object avoidance. I'm not entirely sure where to start. As a first test, I am trying to modify the stomp_test_kr210_moveit_config demo.launch to use `kinematics_solver: constrained_ik/ConstrainedIKPlugin` as described [here](http://wiki.ros.org/industrial_moveit/Tutorials/Adding%20constrained_ik%20to%2

[2017-10-11 02:25] Levi-Armstrong commented on #60
Hello,
The links you provided are outdated which is why things were probably are not working. [Here](http://docs.ros.org/indigo/api/constrained_ik/html/) is the updated documentation. I recommend taking a look at the [examples](http://docs.ros.org/indigo/api/constrained_ik/html/code_examples.html). There is a [yaml](http://docs.ros.org/indigo/api/constrained_ik/html/clik_config_example.html) secti

[2017-10-11 02:57] Levi-Armstrong commented on #60
So it works if you set use_yaml:=false but not when set to true. I am working on a fix now.

[2017-10-11 03:30] Levi-Armstrong commented on #60
I just created PR #61 to fix the examples when loading from yaml. Now when using the planner plugin with moveit you must replace the example_yaml with constrained_ik_solver.

[2017-10-12 08:22] jkira33 commented on #51
I followed a tutorial here [https://github.com/ros-planning/moveit_tutorials/blob/kinetic-devel/doc/pr2_tutorials/planning/src/move_group_interface_tutorial.cpp#L184](url). And a comment said that setMaxVelocityScalingFactor() could reduce the speed of the robot arm via a scaling factor of the maxiumum speed of each joint. However, in my case, it did not work in tool even in joints. I have checked

[2017-11-07 19:26] yijiangh commented on #25
I'm wondering if we can have a more detailed tutorial or guidance on how to configure STOMP on a different robot other than the existing KR210 demo?

I'd love to document it if someone can give me a brief description of the major steps and order.

[2017-11-08 04:20] Levi-Armstrong commented on #25
Have you taken a look at the [examples page](https://github.com/ros-industrial/industrial_moveit/blob/kinetic-devel/stomp_moveit/example_pages.dox)? It provides more detailed information about each of the parameters and plug-ins. You can generate the full documentation using the rosdoc_lite package.

[2017-11-22 15:48] Levi-Armstrong commented on #57
Have you tried using this update filter instead of the polynomial filter. I have had good success when smoothing on JERK, but not sure if this is exposed through the yaml to be configured.

update_filters:
      - class: stomp_moveit/ControlCostProjectionMatrix

[2017-11-22 20:04] tykurtz commented on #57
Hi Levi, thanks for the feedback. To keep the conversation in one place, I'll respond to your [comment on the PR](https://github.com/ros-industrial/industrial_moveit/pull/63#issuecomment-346388261) here as well. I absolutely defer to your and Jorge's expertise here, so if I make an incorrect assumption feel free to correct me.

That makes sense to me so long as there's a guarantee that the smoothi

[2017-11-24 03:06] Levi-Armstrong commented on #57
I think in this case there are two option because the algorithm does require that the initial trajectory is smooth to insure that the final trajectory is smooth. The first it could just fail if after the smoothing of the seed trajectories cost is lower than the original input. The second is allow it to smooth even if the cost is worse and let the optimization find a trajectory that is valid. I vot

[2017-11-27 15:15] tykurtz commented on #57
Thanks for the valuable feedback Levi, I'll make sure that my parameters are correctly tweaked for my workspace and let you know how that impacts the planner success rate. In order to close this issue, what I'd like to do is build something to benchmark the different scenarios and report back. That way selecting the pre-processing (none, polynomial, control cost) step can be a bit more of an infor

[2017-11-27 17:27] Levi-Armstrong commented on #57
Looks good to me. What are your thought @jrgnicho?

[2018-01-03 07:53] thibaultbarbie opened #64 "Documentation on how to provide an initial trajectory ?"
Hi,

I am using industrial moveit for my robot and the STOMP algorithm is working when I am calling it from the move_group interface in moveit. However, I would like to provide my own initial trajectory for STOMP to optimize but I cannot find how to do it.

I have found the "solve" method in stomp.cpp that takes a "Eigen::MatrixXd& initial_parameters" as parameter and I suppose I need to call it b

[2018-01-03 13:36] Levi-Armstrong commented on #64
I am not sure if it is documented anywhere currently but it looks under trajectory constraints in the planning request message for a seed trajectory seen [here](https://github.com/ros-industrial/industrial_moveit/blob/kinetic-devel/stomp_moveit/src/stomp_planner.cpp#L495).

[2018-01-04 07:21] thibaultbarbie commented on #64
Thank you for your answer! So if I understand correctly I need to call stomp from moveit with a "MotionPlanRequest" which contains my initial trajectory, is it correct ?

I checked the "MotionPlanRequest" message declared [here](http://docs.ros.org/kinetic/api/moveit_msgs/html/msg/MotionPlanRequest.html) and there is something that is unclear to me. The stomp code you gave me take the trajectory c

[2018-01-04 12:56] Levi-Armstrong commented on #64
It is not required. You can use the [planner](https://github.com/ros-industrial/industrial_moveit/blob/kinetic-devel/stomp_moveit/src/stomp_planner.cpp) directly in your code. I would also recommend running [rosdoc_lite](http://wiki.ros.org/rosdoc_lite) to generate the documentation for this repository because is has several examples and documentation on how to configure stomp.

Note: Also, you ca

[2018-01-11 04:30] thibaultbarbie commented on #64
So I suceeded to give an initial trajectory through moveit. However it was far from easy because the moveit move_group interface had no method to set a trajectory constraint. Eventually I rewrote the moveit source code to add one.

I tried to use the planner directly but the examples given were not simple enough to help me understand how to use it on my user case sorry.

Thank you for your help! I

[2018-03-03 03:09] yijiangh opened #66 "Using OMPL and STOMP at the same time"
I'm wondering if we can load OMPL's planner, if STOMP fails to find a solution? In current tutorials, it seems like we can only specify one in the planning_pipeline configuration.

Thanks!

[2018-03-03 10:47] gavanderhoorn commented on #66
This is a limitation currently in MoveIt. It only loads a single planner plugin.

It's technically possible to load multiple, but it just hasn't been implemented.

[2018-03-03 19:09] Levi-Armstrong commented on #66
What we have done in the past is create a custom planning plugin which loads the stomp plugin and ompl plugin to accomplish what you want.

[2018-03-03 20:16] yijiangh commented on #66
@Levi-Armstrong So do we need to have two separated move group to load these two plugins?

[2018-03-04 00:48] Levi-Armstrong commented on #66
You should not.

[2018-03-04 16:24] Levi-Armstrong commented on #66
Sorry just read this again, when you refer to move group is that robot move groups or move group nodes?

[2018-03-04 16:47] yijiangh commented on #66
@Levi-Armstrong  Move group nodes.

[2018-03-04 18:31] Levi-Armstrong commented on #66
If you create a custom plugin that incorporates the two then you should not need two move group nodes.

[2018-03-04 22:13] yijiangh commented on #66
@Levi-Armstrong Just to make sure I understand it correctly:

I need to create a customized `planning_interface` plugin like we did in [stomp_moveit](https://github.com/ros-industrial/industrial_moveit/blob/kinetic-devel/stomp_moveit/include/stomp_moveit/stomp_planner_manager.h) and incorporate functions to call different planners, so we can tell the plugin which planner it should use (e.g. throug

[2018-03-05 14:24] Levi-Armstrong commented on #66
That is correct.

[2018-03-05 14:31] yijiangh commented on #66
Thanks for your feedback @Levi-Armstrong @gavanderhoorn .

Then I think it's proper to close this issue since the resolution is not directly related to STOMP.

[2018-03-05 14:31] #66 closed, assigned to nobody

[2018-03-05 14:36] gavanderhoorn commented on #66
I've implemented something similar to what @Levi-Armstrong describes some time ago. I'll see if I can get that in a state that I can push it somewhere.

It's not that exciting really: create a planner plugin taht essentially loads other planning plugins and then implement *some way* for moveit clients to indicate which planning plugin they would like to use.

I went with a plugin prefix, so planni

[2018-03-05 14:42] yijiangh commented on #66
@gavanderhoorn

It'd be fantastic if you could share your previous work!

I agree. Specifying something like `primary planning plugin` and `secondary planning plugin` in a config file. Then the multi-planner plugin loads them and forwards the request accordingly.

[2018-03-05 23:02] gavanderhoorn commented on #66
@yijiangh: see [gavanderhoorn/moveit_mpp](https://github.com/gavanderhoorn/moveit_mpp).

Note that this treats all plugins as equal. Choosing one over another is left to the client.

[2018-03-06 03:23] yijiangh commented on #66
@gavanderhoorn Thank you so much! Really appreciate it.

[2018-04-11 13:44] janisa9 commented on #37
Hi there!

Is this issue solved? I am having similar issue like @TheDash @broesdecat  and others and in some other bugs #42. Everything is working fine with OMPL, but with STOMP I am getting these errors

[code]

I tried to set start state as @jrgnicho mentioned, but still nothing.

Also in STOMP planner I modified code to get start state and they are zeros (not even surprised). No wonder why star

[2018-04-12 19:41] janisa9 commented on #53
Hi!

Is this issue solved? Recently ran into this problem and I don't know in which part is this issue.. Yesterday added comment in #37. Can you take a look?

[2018-04-13 07:09] janisa9 commented on #37
Finally solved this, by going though RViz Motion planning plugin, and searching how movements are executed in there, because this method was working for me.

So basically as mentioned in #53 STOMP failes to plan with using the move_group move() method

to solve this I needed to use
`move_group_ptr->execute(my_plan)`

instead of

`move_group_ptr->move()`

I am wondering why i couldn't find any info

[2018-04-13 07:17] janisa9 commented on #53
@Levi-Armstrong Yep that was the problem, solved this by using move_group execute() method.

[2018-04-27 07:24] ghost opened #68 "Setting end effector constraints when using STOMP"
Hi all,
I'm trying out STOMP as per the tutorial [here](http://ros-industrial.github.io/industrial_training/_source/session5/Introduction-to-STOMP.html), but havent figured out how to set orientation constraints for the end effector so that it maintains a certain orientation throughout the trajectory. Is it possible to set this via yaml?

[2018-04-28 15:36] Levi-Armstrong commented on #68
I don't believe this is currently implemented. You will need to write a noisy generator plugin that generator states that satisfy your constraints. You could get this from moveit ompl  constraint sampler. Then may need a custom plugin for merging the noisy trajectories but not certain this plugin would be needed.

[2018-04-29 06:27] ghost commented on #68
Thank you for the reply Levi. Would this [link](http://docs.ros.org/indigo/api/moveit_tutorials/html/doc/custom_constraint_samplers.html) be a good starting point?

[2018-05-14 02:40] Andychou007 opened #69 "MoveItCommanderException: Error setting joint target. Is IK running?"
Hi, all. Now I want to control my abb industrial robot to move to a specified pose target by listening to a topic which publishes pose target with poseStamped message. So I firstly try to control my robot to move to a pose target which is given in my python code and it move to the specified pose target successfully.

However, when I want to move my abb_irb4600 to the received pose_target continual

[2018-06-19 08:29] gbartyzel opened #70 "Compilation error industrial_collision_detection"
Hello, all. I want to use STOMP with my UR5 but I cannot compile industrial_collision_detection. I've tried compiling it on many machines (virtual os etc.) and always received following error:
`error: redefinition of ‘struct collision_detection::DistanceRequest’ struct DistanceRequest`
and of course many more.

I thought that maybe it was problem with Boost 1.66, however even on clean Ubuntu 16.04

[2018-06-19 12:07] mjpatell commented on #70
Hello,
I am getting same problem. Did you solved your error?

[2018-06-19 12:17] gbartyzel commented on #70
Not yet. However I've tried compile it on ROS-I Industrial Training VM and to my surprise, everything works well there. Maybe some dependencies are missing or sth.

[2018-06-19 12:26] mjpatell commented on #70
Hello,
Thank you so much. After installing all required dependency I am getting below of errors along with same error you mentioned.
![stomp_error](https://user-images.githubusercontent.com/28396588/41597111-ca1e5678-73cc-11e8-9887-3e1197cab155.png)

[2018-06-19 12:42] gbartyzel commented on #70
I got same errors on my PC. I compared ros packages installed on ROS-I VM and my Ubuntu, and there is not difference besides some additionals.

[2018-06-19 12:44] mjpatell commented on #70
Hello,
I don't have any idea what am doing wrong. Do you have any idea to resolve this error?
Thank you

[2018-06-19 13:04] trent-weiss commented on #70
I am getting an identical error.

It appears the issue is related to redeclaring a struct collision_detection::DistanceRequest that already exists in MoveIt.

Not sure how to fix it.

[2018-06-19 16:15] raghavendersahdev commented on #70
Hi @trent-weiss  @ipa-mjp  @Souphis .  I had the exact same issue but I was able to build and run STOMP successfully after doing the following. I had to remove 3 packages. You need to remove the following folders / packages from industrial_move_it:
- _industrial_collision_detection_: Recently everything that was in industrial_collision_detection package was merged into moveit (reason for multiple

[2018-06-21 08:04] mjpatell commented on #70
Hello @raghavendersahdev ,

Thank you for your information. I try to follow step as you mention. But I have other errors that's obvious. The reason is
- constraint_ik: include/constrained_ik/constraints /avoid_obstacles.h where they access function of industrial_collision_detection class while that functions/structs are not part of MoveIt! at this moment. I don't think so I can remove whole indust

[2018-06-21 19:59] raghavendersahdev commented on #70
Hi @ipa-mjp as per my previous comment, you need to remove 3 all packages not just the _industrial_collision_detection_ package. The 3 packages/folder you need to remove are:

- _industrial_collision_detection_
- _constraint_ik_
- _industrial_moveit_benchmarking_

After removing these 3 packages completely, your code should successfully build....If there is a dependency of any of these packages li

[2018-06-22 12:35] mjpatell commented on #70
Hello @raghavendersahdev ,

Thank you so much for your help. Now after removing all 3 packages, I am able to compile and build.

[2018-07-05 19:09] jrgnicho commented on #70
@ipa-mjp  by removing you mean deleting from the package.xml list or deleting the actual packages themselves?

[2018-07-05 19:10] #27 closed, assigned to nobody

[2018-07-05 19:10] #29 closed, assigned to nobody

[2018-07-05 19:13] jrgnicho commented on #25
This documentation content that's now available should be pushed to the wiki section.  @Levi-Armstrong any thoughts on how to best do this?

[2018-07-05 19:17] jrgnicho commented on #53
At the very least a warning should be printed when an empty robot state is encountered.

[2018-07-05 19:18] jrgnicho commented on #37
related to #53

[2018-07-05 19:19] raghavendersahdev commented on #70
Hi @jrgnicho , both worked for me:
- completely removing / deleteing the 3 packages also works, or Alternatively
- simply removing from package.xml and using CATKIN_IGNORE for the three packages also  worked

I removed / deleted industrial moveit and did catkin_ignore for the 2 packages (constriaint_ik and industrial_moveit_benchmarking). I did this as in my [commit](https://github.com/ros-industr

[2018-07-05 19:35] jrgnicho commented on #69
You're more likely to find help in [ros answers](https://answers.ros.org/questions/) so I'd recommend you post your question there.

[2018-07-05 19:35] #69 closed, assigned to nobody

[2018-07-06 06:10] mjpatell commented on #70
Hi @jrgnicho,

 Even both worked for me.

[2018-07-06 18:20] #44 closed, assigned to nobody

[2018-07-06 18:22] #43 closed, assigned to nobody

[2018-07-06 18:25] #40 closed, assigned to nobody

[2018-07-11 02:27] raghavendersahdev commented on #25
there is STOMP tutorials in the moveit_tutorials [package here](https://github.com/ros-planning/moveit_tutorials/blob/kinetic-devel/doc/stomp_planner/stomp_planner_tutorial.rst). Maybe this is helpful

[2018-07-11 11:32] Ridhwanluthra commented on #70
@raghavendersahdev if those packages are removed it will not be able to use those functionalities.
@ipa-hsd mentioned that [this commit](https://github.com/ros-planning/moveit/commit/f235eac6d4004c3990a5edaad892076f96fd6e77#diff-867999ebefdd96976952c148a508517a) in moveit leads to the error.
Is it that the functionality from here was shifted to moveit? coz they seem similar.

[2018-09-10 00:44] #64 closed, assigned to Jmeyer1292

[2018-10-10 20:03] #70 closed, assigned to nobody

[2018-12-05 08:32] BastiSta opened #79 ""Jerky" motions while using kuka_rsi_hw_interface for a KUKA KR240 L210 MED"
Hi everybody,
I am working with a KUKA KR240 L210 MED with a safe control system and would like to control it via the kuka_rsi_hw_interface. Starting the moveit_planning_execution.launch works and the robot can be started without problems. Also the visualization and path planning via Rviz and the execution of the movement works. My problem now is that the robot jerks randomly and does not move smo

[2018-12-05 12:35] gavanderhoorn commented on #79
I'm going to close this issue here as I'm not sure this tracker is an appropriate one to discuss this.

This also seems to have been cross-posted to https://github.com/ros-industrial/kuka_experimental/issues/147.

If you feel otherwise @BastiSta please re-open and clarify.

[2018-12-05 12:35] #79 closed, assigned to nobody

[2018-12-13 02:44] Yosukee opened #80 "STOMP can't plan path avoid obstacle if using mimic joints"
I tried STOMP using mimic joints, but STOMP can't plan path avoid obstacle.
To use 6dof robot as 4dof, I change 2 joints to mimic joint.
If I use robot(6dof) used not mimic, STOMP can plan avoid obstacle.

STOMP can do it if obviously there are no obstacles around but STOMP show error messages.
![2](https://user-images.githubusercontent.com/45807461/49911984-ce6f0a80-fecb-11e8-96f1-914c331cf447.PN

[2018-12-18 18:09] jrgnicho commented on #80
@Yosukee yes stomp assumes that all joints are independent

[2018-12-18 18:12] jrgnicho commented on #68
This issue is partially addressed [now](https://github.com/ros-industrial/industrial_moveit/pull/46) in that you can set orientation constraints on the cartesian goal however STOMP won't apply this to the rest of the waypoints in the trajectory.

[2018-12-20 18:16] dieterwuytens opened #83 "STOMP start point deviates from current robot state"
I'm trying to use STOMP with [this link](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/moveit_commander_scripting/moveit_commander_scripting_tutorial.html) . I want to plan a path with STOMP using a relative command for the endeffector. I'm trying to execute the following command to achieve this:

    go z 0.1

I found this command in the help function, because it is not described in t

[2019-04-04 15:48] jrgnicho opened #89 "Error messages from constrained ik unit test"
There are a number of error messages that the constrained ik unit test prints to the console as described in PR #88; However, they don't break the build and CI still passes.  To reproduce just run
[code]

[2019-04-11 02:05] khalilibrahim opened #90 "STOMP planner (Moveit/Rviz) no planning library loaded"
I have problem when I install stomp planner (Moveit/Rviz) (indigo) no library loading in my package.
I found this error (process has died) as you see. anyone see this before to help me!!!

[code]

[2019-04-11 07:20] gavanderhoorn commented on #90
Please do not post screenshots of text. The terminal and your editor are all text, no need for images. Just copy-paste it into your issue.

[2019-04-11 07:21] gavanderhoorn commented on #90
Also: you must provide much more information if you'd like us to assist you: Why are you still using Indigo? How did you install everything? Which packages did you install? If built from sources: which versions/branches?

Without such information we cannot help you.

[2019-04-11 07:22] khalilibrahim commented on #90
I'm so sorry.
I didn't make it again.

[2019-04-11 07:39] khalilibrahim commented on #90
Asi told you I follow all instruction off this wesite to use STOMP https://github.com/ros-industrial/industrial_moveit
[https://avatars1.githubusercontent.com/u/2932528?s=400&v=4]<https://github.com/ros-industrial/industrial_moveit>

GitHub - ros-industrial/industrial_moveit: ROS-Industrial movit meta-package (http://wiki.ros.org/industrial_moveit) - The world's leading software development platfo

[2019-04-11 07:50] gavanderhoorn commented on #90
We recently merged #86, so unless you changed branches (to `indigo-devel` or `kinetic-devel` fi), those instructions are not going to work.

Hence my question: which commands did you use exactly?

[2019-04-11 08:29] khalilibrahim commented on #90
I didn't understand what do you mean exactly ?

But my question, I want to use STOMP planner in my package motoman_sda10f. How I can install it in indigo? also I used Ubuntu 14.04?
Can you help me?

[2019-04-11 09:03] gavanderhoorn opened #91 "Migrate STOMP related issues (and PRs?) to stomp_ros"
Now that STOMP is in its own repository, let's transfer all open issues to `ros-industrial/stomp_ros` for issues it makes sense for.

[2019-04-11 09:04] gavanderhoorn commented on #91
@jrgnicho: you are much more up-to-speed on the state of STOMP and the state of issues on the tracker here. Could I ask you to [transfer the issues](https://help.github.com/en/articles/transferring-an-issue-to-another-repository) to `stomp_ros`?

[2019-04-17 17:07] gavanderhoorn commented on #91
:bellhop_bell: @jrgnicho ?

[2019-04-17 18:50] jrgnicho commented on #91
OK, yes. I hadn't seen this somehow but thanks for the heads up

[2019-05-10 02:43] spy14414 commented on #90
Hi,  I have the same error when I use stomp planner.
Have you solved this problem? Can you help me?
Thanks in advance.

[2019-07-01 16:17] vmayoral opened #93 "Description typo"
Just a silly typo in the repo description (silly for me to report it):

[2019-07-02 09:49] hsd-dev opened #94 "License is `TODO` for `industrial_moveit_test_support`"
Related to https://github.com/ros-industrial/ros_industrial_issues/issues/57

https://github.com/ros-industrial/industrial_moveit/blob/melodic-devel/industrial_moveit_test_support/package.xml#L7

[2019-07-07 15:51] LuisYordano opened #97 "Error STOMP demo.launch in ROS Melodic"
Hello everyone,

I have tested the demo:  **roslaunch industrial_moveit_test_moveit_config demo.launch**

I have cloned the repository : **git clone https://github.com/ros-industrial/industrial_moveit.git** and **git clone https://github.com/ros-industrial/stomp_ros.git**

When executing the Planning  Command: **Plan ➟ All Ok**:

![Selection_216](https://user-images.githubusercontent.com/13818395/

[2019-08-20 12:39] Juzhan opened #98 "Unstable planning when use Stomp"
My system is Ubuntu 14.04, the ROS distribution is indigo. Recently I am working with Fetch robot in gazebo simulation and I want to use stomp for better motion planning.

I install stomp from apt: `apt-get ros-indigo-stomp-moveit` .Then I modify the `move_group.launch` to use stomp as default motion planner.

When I use stomp, I found that it can't work well all the time. If I start a new empty w

[2019-08-25 16:29] anubhav1772 opened #99 "fatal error: Eigen/Geometry: No such file or directory #include <Eigen/Geometry>"
I am fairly new to ROS (melodic), and I am writing a C++ program to use the MoveIt! package. On building my package using `catkin_make`, I am getting below error:

[code]
After going through few documentation online, I found out that I forgot to add below lines in my `CMakeLists.txt` file:
[code]
But now, I am getting a new error:
[code]
I don't have know what to do next because in order to solve

[2019-08-25 16:40] gavanderhoorn commented on #99
I believe you've posted this to the wrong issue tracker: this is not the tracker of MoveIt proper, but of a related set of packages.

You may find the MoveIt tracker over at `ros-planning/moveit`.

[2019-08-25 16:40] #99 closed, assigned to nobody

[2019-08-26 14:45] gavanderhoorn commented on #94
Fixed in #96.

[2019-08-26 14:45] #94 closed, assigned to nobody

[2019-12-12 16:58] ib101 commented on #68
Any update on this? Would love to use STOMP, its STOMP-tastic!

[2019-12-16 22:47] jrgnicho commented on #68
Hello @ib101 , the stomp planner packages have been [moved](https://github.com/ros-industrial/stomp_ros) into their own repository.  As far as I know, no one at the moment is working on such a feature but you're welcome to submit a PR for this in the new repo.

[2020-05-29 13:17] lepalom opened #103 "Building error with Melodic"
I'm trying to build it with melodic and I have found this building error:

[code]

any idea?

[2020-05-29 16:27] jrgnicho commented on #103
Looks like a change in moveit broke this.  The CollisionDetectorAllocatorIndustrial inherits from a base class in moveit and it appears that the NAME variable has been removed

[2020-10-02 07:31] hoanggiang84 commented on #103
In my case, I changed to NAME_ in the file collision_detector_allocator.h.
https://devel.iri.upc.edu/docs/roswiki/docs/hydro/api/moveit_core/html/collision__detector__allocator_8h_source.html

[2021-04-07 16:52] mpatalberta opened #104 "melodic code no longger build"
error_message<<".\nSet or add the 'collision_detector' parameter to an allowed collision detector in the move_group.launch file"<<std::endl;
        throw std::runtime_error(error_message.str());
      }
    }

    state.collision_robot = planning_scene->getCollisionRobot();

    state.collision_world = planning_scene->getCollisionWorld();
  }

  }

The object getCollisionRobot and getCollisionWor

[2021-04-07 16:52] mpatalberta commented on #104
/moveitmaster_ws/src/industrial_moveit/constrained_ik/src/constrained_ik.cpp

[2021-04-07 16:56] mpatalberta commented on #104
At about line 247

[2021-04-08 17:54] Levi-Armstrong commented on #104
Most likely MoveIt change something in the API which has broken things. This package is largely unmaintained since all of the capability is now provided within [trajopt_ros](https://github.com/ros-industrial-consortium/trajopt_ros) repository. If you create a PR which fixes the issue I would be happy to review and merge.

[2021-08-26 13:02] rickstaa commented on #37
This issue also occurs when working with the RVIZ MotionPlanning plugin. This is expected as it also uses the `->execute(my_plan)` method (see https://github.com/ros-planning/moveit/blob/865c2611285aae9c6f733a1c40f87e5b5f4ba1cc/moveit_ros/visualization/motion_planning_rviz_plugin/src/motion_planning_frame_planning.cpp#L203).

[2021-10-20 20:31] simonschmeisser commented on #53
This has likely been fixed by https://github.com/ros-industrial/stomp_ros/pull/26 ?